@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script:wght@500&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-thumb {
    background: #2B2B2B;
}

::-webkit-scrollbar-track{
    background: #EED6C4;
}

body{
    padding: 0px 0px 0px 0px;
    z-index:0;
    background-color: #9BA4B4;
}

h2{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: xx-large;
}

li{
    padding: 0 5px;
}

.navColor{
    background-color: #14274E;
    padding: 5px;
}

.cardColor{
    background-color: #EEF1FF;
    border-radius: 16px;
}

.footColor{ 
    background-color: #14274E;
}

.imgBox{
    padding: 1% 2%; 
    border-radius: 25px;
}

.card-text{
    font-family: 'Cormorant Garamond', serif;
}

.nav-item{
    margin:0px 10px;
}

.carousel-caption{
    color: whitesmoke;
}

.main-container{
    min-height: 100vh;
}

.row{
    margin: 23px auto;
}

.row-content{
    margin: 50px 0px;
}

.error{
    display: flex;
    flex-direction: column;
    color:#ff0000;
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.error h1{
    font-size: 10vh;
    font-weight: 200;
}

footer{
    min-height:15vh;
    background-color: #123C69;
    color: yellow;
}